@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    --font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

.container {
    width: 95%;
    padding: 0 2rem;
    margin: auto;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: var(--font-family);
    background: #060d17;
}

.header {
    width: 100%;
    height: 100%;
    z-index: 50;
}

.header .container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.titles {
    overflow: hidden;
}

.header .container .toggleBtn {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;
}

.header .container .toggleBtn.active .detail {
    top: 4rem;
    opacity: 1;
    pointer-events: auto;
}

.header .container .toggleBtn .detail {
    position: absolute;
    text-align: center;
    top: 6rem;
    right: 1rem;
    width: 220px;
    background-color: #081220;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.header .container .toggleBtn .detail div {
    width: 100%;
    padding: 0.5rem 1rem;
}

.header .container .toggleBtn .detail a {
    color: #4c5a67;
    font-size: 17px;
    font-weight: 500;
}

.header .container .toggleBtn .detail div:hover {
    background: #4c5a67;
}

.header .container .toggleBtn .detail div:hover a {
    color: #fff;
}

.header .container .header-left {
    width: 219px;
    object-fit: cover;
}

.header .container .header-right {
    display: flex;
    align-items: center;
    width: inherit;
}

.header .container .header-right .items {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 15px;
}

.header .container .header-right .items a {
    color: #999c9f;
}

.header .container .header-right .items a.active {
    color: #fff;
}

.header .container .header-right .items a:hover {
    color: #fff;
}

.header .container .header-right .search-icon {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
}

.header .container .header-right .search-icon .icon {
    display: inline-block;
    position: relative;
    left: 4%;
    transform: translateX(-4%);
    color: #999c9f;
}

.header .container .header-right .search-icon input {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    border-radius: 5px;
    color: #fff;
}

.header .container .header-right .buttons {
    background: #1c252f;
    padding: 9px 15px;
    border-radius: 5px;
    margin-left: 1.2rem;
    white-space: nowrap;
}

.header .container .header-right .buttons a {
    color: #fff;
}

/*  */
.discovery-recs {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

.discovery-recs .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discovery-recs h1 {
    font-size: 50px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
    margin: 0;
}

.discovery-recs .discovery-recs-left .title {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.calendar-icon {
    width: 46px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.calendar-icon__month {
    font-weight: 700;
    background-color: #eb3b5a;
    border-radius: 8px 8px 0 0;
    text-transform: uppercase;
    font-size: 10px;
}

.calendar-icon__date {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    color: #000;
    font-size: 24px;
    line-height: 32px;
}

.discovery-recs-right .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.discovery-recs-right .brand .brand-item {
    height: 32px;
    width: 32px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discovery-recs-2 .discovery-recs-right .brand .brand-item {
    height: 50px;
    width: 50px;
}

.discovery-recs-right .brand .brand-item:first-child {
    border: 1px solid #999c9f;
}

.discovery-recs-right .brand .brand-item img {
    height: 100%;
    width: 100%;
    border-radius: 20%;
    object-fit: cover;
}

.discovery-recs-right .brand .brand-item i {
    color: #999c9f;
}

/*  */
.card {
    position: relative;
}

.card-rating {
    position: relative;
}

.titles .container .title {
    text-transform: none;
    color: #fff;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    margin: 2rem 0;
}

.titles .container .card-rating .number {
    height: 100%;
    line-height: 100%;
    font-size: 180px;
    letter-spacing: -20px;
    -webkit-margin-end: -2px;
    margin-inline-end: -2px;
    font-weight: 900;
    color: #222c38;
    -webkit-margin-start: -4px;
    margin-inline-start: -4px;
}

.titles .container .card-rating .image {
    display: flex;
    align-items: flex-end;
}

.titles .container .card-sliders .card .image img,
.titles .container .popular .card .image img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titles .container .card-rating .image img {
    border-radius: 5px;
    object-fit: cover;
}

.popular .card-slider {
    flex-wrap: wrap;
    justify-content: unset;
    gap: 1rem;
}

.popular .card-slider .card {
    width: calc(100% / 6 - 1rem);
}

.popular .card-slider .card .content .info {
    top: 87%;
}

.card-sliders {
    width: 100%;
    display: flex;
}

.banner-watch-5 .card-sliders {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-slider {
    display: flex;
}

.card .content .info {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    top: 85%;
    /* left: 29%; */
    color: #fff;
    background: #ddad00;
    width: 96%;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 0.25rem;
    /* transform: translateX(-0.5%); */
}

.card-rating .content .info {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    top: 84%;
    /* left: 29%; */
    color: #fff;
    background: #ddad00;
    width: 157px;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 0 0.25rem;
    transform: translateX(-105.5%);
}

.card .content .info img {
    width: 25px;
    border-radius: 20%;
}

.card-rating .content .info img {
    width: 25px;
    border-radius: 20%;
}

.card .hover {
    opacity: 0;
    pointer-events: none;
}

.card-sliders .content-title {
    min-width: 190px;
    max-width: 190px;
}

.card-sliders .content-title label {
    font-size: 24px;
    font-weight: 900;
    color: #eaebee;
    margin-bottom: 5rem;
}

.card-sliders .content-title p {
    font-size: 16px;
    font-weight: 400;
    color: #8a8d98;
    line-height: 1.5;
    margin-top: 2rem;
}

.card:hover .hover {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease-in-out;
}

.card-rating .hover {
    opacity: 0;
    pointer-events: none;
}

.card-rating:hover .hover {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease-in-out;
}

.card ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    position: absolute;
    top: 0.5rem;
    /* left: 100%; */
    transform: translateX(1.5%);
}

.card ul li {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6) 20%,
        transparent 45%,
        transparent 55%,
        rgba(0, 0, 0, 0.6) 80%,
        rgba(0, 0, 0, 0.6)
    );
    padding: 4px 8px;
    border-radius: 50%;
}

.card ul li a {
    color: #fff;
}

.card-rating ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    position: absolute;
    top: 0.5rem;
    /* left: 100%; */
    transform: translateX(-87%);
}

.card-slider-2 ul {
    transform: translateX(-0.5%);
    width: 100%;
    padding: 0 0.5rem;
}

.card-rating ul li {
    margin: 0 0.2rem;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6) 20%,
        transparent 45%,
        transparent 55%,
        rgba(0, 0, 0, 0.6) 80%,
        rgba(0, 0, 0, 0.6)
    );
    padding: 4px 8px;
    border-radius: 50%;
}

.card-rating ul li a {
    color: #fff;
}

.sort {
    margin: 2rem 0;
}

.sort .top {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    gap: 1rem;
}

.sort .top button {
    height: 100%;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
}

.sort .top a {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #b9bdcc;
    text-overflow: ellipsis;
    gap: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.sort .top .content {
    position: absolute;
    margin-top: 10rem;
    left: 1rem;
    background: lightblue;
    width: 400px;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 50;
}

.sort .top a.active i {
    transform: rotate(180deg);
}

.sort .bottom i,
.sort .top a i {
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.sort .top button:hover {
    border: 1px solid #fff;
    border-radius: 5px;
}

.sort .top button.active {
    border: 1px solid #1c252f;
    border-radius: 5px;
    background: #1c252f;
}

.sort .bottom {
    margin: 1.5rem 0;
    color: #b9bdcc;
}

.titles .popular-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.titles .card-slider-2 {
    border-radius: 10px;
}

.titles .card-slider-2 .card {
    width: 190px;
}

.titles .card-slider-2 .image img {
    height: 256px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.titles .card-slider-2 {
    height: 256px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    background: #10161d;
}

.titles .card-slider-2 .card-detail .title {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    margin: 0.5rem 0;
}

.titles .card-slider-2 .card-detail .title span {
    font-size: 1rem;
    color: #999c9f;
}

.titles .card-slider-2 .card-detail .card-detail-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #fff !important;
    opacity: 0.3;
    margin: 2rem 0;
    line-height: 1.5;
    padding-right: 1rem;
}

.titles .card-slider-2 .card-detail .card-detail-rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titles .card-slider-2 .card-detail .card-detail-rating span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    color: #999c9f;
}

.titles .card-slider-2 .card-detail .card-detail-rating span img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.titles .card-slider-2 .card-detail .card-detail-button {
    width: 230px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;
    background: #4c5a67;
    color: #fff;
    margin: 2rem 0;
}

.titles .card-slider-2 .card-detail .card-detail-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 20%;
}

/*  */
.banner video {
    width: 100%;
}

.banner .banner-content {
    position: absolute;
    display: grid;
    grid-template-columns: 30% 67.5%;
    gap: 2rem;
    top: 70%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background: #060d17;
    padding: 25px 25px 0;
    border-radius: 10px;
    margin: auto;
}

.banner .banner-content .poster img {
    width: 353px;
    height: 502px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner .banner-content .poster .content {
    width: 100̀;
    height: 70px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c252f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13px;
}

.banner .banner-content .poster .content li a {
    display: grid !important;
    text-align: center;
    gap: 0.4rem;
    color: #fff;
}

.banner .banner-content .poster .poster-content .title {
    font-weight: 700;
    text-transform: uppercase;
    color: #6a7c8f;
    margin: 1.2rem 0;
}

.banner .banner-content .poster .poster-content .title .detail {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.banner .banner-content .poster .poster-content .title .detail span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
}

.banner .banner-content .poster .poster-content .title .detail p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

.banner .banner-content .poster .poster-content .title .detail p::after {
    content: ',';
    padding-right: 0.5rem;
}

.banner .banner-content .poster .poster-content .title .detail p:last-child::after {
    content: none;
}

.banner .banner-content .poster .poster-content .title img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.banner .banner-content .info-content {
    display: block;
    color: #fff;
}

.banner .banner-content .info-content h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.banner .banner-content .info-content span {
    font-size: 20px;
    color: #b9bdcc;
}

.banner-watch h2 {
    color: #eec42b;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 16px 8px;
}

.banner-watch .banner-watch-image {
    padding: 16px;
    border: 1px solid #eec42b;
    border-radius: 16px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.banner-watch-image .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.banner-watch-image .title img {
    border-radius: 20%;
    margin-bottom: 3px;
    width: 50px;
}

.banner-watch-image .title label {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.21px;
    color: #fff;
    text-transform: uppercase;
}

.banner-watch-image .title p {
    font-weight: 700;
    font-size: 13px;
    color: #d5d5d5;
}

.banner-watch-image .title span {
    margin-inline-start: 3px;
    font-size: 9px !important;
    font-weight: 700;
    color: #fbc500 !important;
    text-transform: uppercase;
}

.banner-watch-2 h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: #6a7c8f;
    margin: 0;
    margin-block: 30px 8px;
}

.banner-watch-2 .filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background: #0a151f;
    color: #6a7c8f;
    padding: 10px 15px;
}

.banner-watch-2 .filter button {
    display: block;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 10px;
    color: var(--ion-color-light-shade) !important;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}


.banner-watch-2 .filter button:hover {
    border: 1px solid #fff;
}


.banner-watch-2 .filter button.active {
    border: 1px solid #fff;

}

.banner-watch-2 .banner-watch-content {
    display: flex;
    gap: 1rem;
}

.banner-watch-2 .banner-watch-content .banner-watch-title {
    padding: 16px 4px;
    min-height: 90px;
    height: 95px;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    padding: 16px 8px;
}

.banner-watch-2 .banner-watch-content .banner-watch-title.stream {
    color: #797a7b;
    background: #e6e6e6;
}

.banner-watch-2 .banner-watch-content .banner-watch-title.buy {
    color: #d5d5d5;
    background: #1c252f;
}

.banner-watch-2 .banner-watch-content .banner-watch-title:not(.ttb-language) {
    transform: rotate(180deg);
}

.banner-watch-2 .banner-watch-content .banner-watch-image {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.banner-watch-3 {
    margin: 2rem 0;
    overflow: hidden;
}

.banner-watch-3 h2 {
    color: #6a7c8f;
    font-weight: 700;
    text-transform: uppercase;
    margin: 18px 0 8px;
}

.banner-watch-3 .season2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-watch-3 .season2 .content img {
    height: 190px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
}

.banner-watch-3 .season2 .content .title {
    margin: 5px 0;
    overflow: hidden;
    max-width: 155px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #6a7c8f;
}

.banner-watch-4,
.banner-watch-5 {
    margin: 1rem 0;
}

.banner-watch-4 h2,
.banner-watch-5 h2 {
    display: inline;
    color: #6a7c8f;
    font-weight: 700;
    text-transform: uppercase;
    margin-inline-end: 8px;
    font-size: 16px;
}

.banner-watch-4 p {
    margin-top: 0.8rem;
    font-size: 16px;
    line-height: 1.5;
    color: #b9bdcc;
}

.banner-watch-4 .video-trailer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.banner-watch-5 .card-sliders {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.banner-watch-5 .card-sliders .card {
    object-fit: cover;
}

.titles-2 {
    margin-top: 3rem;
}

.titles-2 .container {
    padding-inline-start: 4.5vw !important;
    display: flex;
    width: 100% !important;
    padding: 0;
}

.titles-2 .container .title {
    min-width: 190px;
    max-width: 190px;
    margin: 0;
}

.titles-2 .container .title h2 {
    font-size: 24px;
    font-weight: 900;
    color: #eaebee;
}

.titles-2 .container .title p {
    font-size: 16px;
    font-weight: 400;
    color: #8a8d98;
    margin-top: 2rem;
    line-height: 1.2;
}

.titles-2 .container .card-sliders {
    position: relative;
    overflow: hidden;
}

footer {
    padding: 2rem 0;
    margin-top: 2rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer .footer-left {
    font-size: 18px;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

footer .footer-right {
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}

.header-faq {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/7ea7394f0b4ffe94969c567486757f8c656106dd.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 15px;
    padding: 0 2rem;
    color: #e2e8f0;
}

.header-faq .container,
.header-about .container {
    width: 70%;
}


.header-faq .container a,
.header-about .container a {
    color: #e2e8f0 !important;
    font-size: 16px;
}

.main {
    display: block;
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 55;
    width: 60%;
    margin: auto;
}

.main .main-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main-top h1 {
    font-size: 70px;
    font-weight: 900;
    color: #fefefe;
    margin: 2rem 0;
}

.main .search {
    width: 578px;
    height: 63px;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    margin: auto;
}

.main .search .icon {
    display: inline-block;
    position: relative;
    left: 8%;
    color: #fff;
    font-size: 25px;
}

.main .search input {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.main .search input::placeholder {
    color: #fff;
}

.main-bottom {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-bottom .info {
    width: 245px;
    height: 287px;
    border-radius: 8px;
    text-align: center;
    padding: 16px 24px;
    cursor: pointer;
}

.main-bottom .info img {
    width: 96px;
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.main-bottom .info h2 {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    margin: 1.5rem 0;
}

.main-bottom .info {
    font-size: 0.9375rem;
    color: #a0aec0;
    font-weight: 500;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
}

.main-bottom .info:hover {
    background: rgba(255, 255, 255, 0.1);
}

.main-bottom .info:hover img {
    scale: 1.1;
}

.main-detail {
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.main-detail .row-top {
    width: 100%;
    padding: 1.2rem 0;
    background: #f7fafc;
    border-bottom: 1px solid #e2e8f0;
}

.main-detail .row-top .container {
    width: 70%;
    display: flex;
}

.main-detail .row-top .container li {
    color: #4a5568;
}

.main-detail .row-top .container li a {
    color: rgba(93, 155, 178, 1);
}

.main-detail .row-top .container li::after {
    content: '/';
    padding: 0 0.5rem;
}

.main-detail .row-top .container li:last-child::after {
    content: none;
}

.main-detail .row-center .container,
.main-detail .row-bottom .container {
    width: 70%;
}

.main-detail .row-center .container h1 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600;
}

.main-detail .row-center .container h4 {
    font-size: 1.125rem;
    font-weight: 700;
}

.main-detail .row-center .container p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #4a5568;
}

.main-detail .row-bottom {
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.main-detail .row-bottom h2 a {
    font-size: 1rem;
    color: #4a5568;
    font-weight: 600;
}

.main-detail .row-bottom .content {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
}

.main-detail .row-bottom .content .card-detail {
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
}

.main-detail .row-bottom .content a {
    color: rgba(93, 155, 178, 1);
}

.main-detail .row-bottom .content h3 {
    margin: 1rem 0;
}

.main-detail .row-bottom .content h3 a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000 !important;
}

.main-detail .row-bottom .content p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #4e4e4e;
}

.main-detail .row-bottom .form-group {
    display: grid;
    width: 50%;
    margin: 1rem 0;
}

.main-detail .row-bottom .form-group label {
    margin: 0 0 0.5rem;
    font-size: 0.9375rem;
}

.main-detail .row-bottom .form-group label::after {
    content: '*';
    color: red;
}

.main-detail .row-bottom .form-group input,
.main-detail .row-bottom .form-group textarea {
    padding: 0.5em 0.75em;
    color: inherit;
    border: 1px solid #e2e8f0;
    background-color: #fff;
    width: 100%;
    border-radius: 0.25rem;
}

.main-detail .row-bottom button {
    color: #fff;
    border-color: rgba(93, 155, 178, 1);
    background-color: rgba(93, 155, 178, 1);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0.5em 1.5em;
    font-size: 1.125rem;
    border-radius: 5px;
}


.header.header-faq .container .header-right,
.header.header-about .container .header-right
 {
    width: auto;
}

/*  */
.sort .list-all
{
    position: absolute;
    top: 10rem;
    z-index: 50;
    background: #10161d;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
}

.sort .top .genreBtn.active .list-genre,
.sort .top .yearBtn.active .list-year,
.sort .top .priceBtn.active .list-price,
.sort .top .countryBtn.active .list-country
{
    top: 14rem;
    opacity: 1;
    pointer-events: auto;
}

.sort .top .genreBtn,
.sort .top .yearBtn,
.sort .top .countryBtn,
.sort .top .priceBtn
{
    transition: all 0.4s ease-in-out;
}

.sort .top .genreBtn i,
.sort .top .yearBtn i,
.sort .top .priceBtn i,
.sort .top .countryBtn i
{
    transition: all 0.4s ease-in-out;
}

.sort .top .genreBtn:hover,
.sort .top .countryBtn:hover,
.sort .top .priceBtn:hover,
.sort .top .yearBtn:hover

{
    color: #fff;
}

.sort .top .genreBtn.active,
.sort .top .countryBtn.active,
.sort .top .priceBtn.active,
.sort .top .yearBtn.active
{
    color: #fff;
}

.sort .top .genreBtn.active .fa-sort-down,
.sort .top .countryBtn.active .fa-sort-down,
.sort .top .priceBtn.active .fa-sort-down,
.sort .top .yearBtn.active .fa-sort-down
{
    transform: rotate(180deg);
}

.sort .list-all .top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.sort .list-all .top .title,
.sort .list-year .year-top .title
{
    font-size: 1.4rem;
    color: #fff;
}

.sort .list-all .top .reset,
.sort .list-year .year-top .reset{
    opacity: .2;
}


.sort .list-all .center .range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}


.sort .list-all .center .range #demo {
   display: inline-block;
   position: absolute;
   top: 60px;
   left: 50%;
   transform: translateX(-50%);
}

.sort .list-all .center .range label {
    margin-right: 1rem;
}

.sort .list-all .center .range label:last-child {
    margin-left: 1rem;
    margin-right: 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #5e6b76;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5e6b76;
    cursor: pointer;
}

.sort .list-all .center .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.sort .list-price .center .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sort .list-price .center .list .item {
    padding: 0.5rem 0.6rem;
}

.sort .list-all .center .item {
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

.sort .list-all .center .item:hover {
    border: 1px solid #434f5b;
    background: #434f5b;
    color: #fff;
}

.sort .list-all .center .item:hover i{
    color: #fff;
    opacity: 1;
}

.sort .list-all .center .item.active i{
    color: #fff;
    opacity: 1;
}

.sort .list-all .center .item.active {
    border: 1px solid #434f5b;
    background: #434f5b;
    color: #fff;
}

.sort .list-all .center .item i {
    opacity: .2;
    font-size: 1rem;
}

.fa-bookmark.active {
    color: #ddad00;
}

.fa-thumbs-up.active {
    color: #ddad00;
}

.fa-thumbs-down.active {
    color: #ddad00;
}

.filterBtn {
    color: #b9bdcc;
    display: none;
}
